<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Marketplace</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>DBuser</param-name>
    <param-value>newremoteuser</param-value>
  </context-param>
  <context-param>
    <param-name>DBpassword</param-name>
    <param-value>password</param-value>
  </context-param>
  <context-param>
    <param-name>DBURL</param-name>
    <param-value>jdbc:mysql://ec2-18-217-205-10.us-east-2.compute.amazonaws.com:3306/marketplace</param-value>
  </context-param>
  <context-param>
    <description>Windows Root</description>
    <param-name>windowsRoot</param-name>
    <param-value>C:/apps/marketplace</param-value>
  </context-param>
  <context-param>
    <description>Linux Root</description>
    <param-name>linuxRoot</param-name>
    <param-value>/apps/marketplace</param-value>
  </context-param>
  <context-param>
    <description>Location to store user images</description>
    <param-name>userImagePath</param-name>
    <param-value>images/user</param-value>
  </context-param>
    <context-param>
    <description>Location to store item images</description>
    <param-name>itemImagePath</param-name>
    <param-value>images/item</param-value>
  </context-param>
</web-app>